<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>vuph.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>vuph.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vuph.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMissionController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMissionController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMissionDetailController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewMissionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionDetailController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateMissionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMissionDetailController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteMissionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionDetailController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddMissionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMissionWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionWeaponController</servlet-name>
        <servlet-class>vuph.controllers.UpdateMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMissionWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAvengerController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvengerController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAvengerController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAvengerController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMarkController</servlet-name>
        <servlet-class>vuph.admin.controllers.AddMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkController</servlet-name>
        <servlet-class>vuph.admin.controllers.UpdateMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMarkController</servlet-name>
        <servlet-class>vuph.admin.controllers.DeleteMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWeaponController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMarkController</servlet-name>
        <servlet-class>vuph.admin.controllers.ViewMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanViewMissionController</servlet-name>
        <servlet-class>vuph.ironman.controllers.ViewMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanViewMarkController</servlet-name>
        <servlet-class>vuph.ironman.controllers.ViewMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanAddMarkController</servlet-name>
        <servlet-class>vuph.ironman.controllers.AddMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanAddMissionController</servlet-name>
        <servlet-class>vuph.ironman.controllers.AddMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanDeleteMissionController</servlet-name>
        <servlet-class>vuph.ironman.controllers.DeleteMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanDeleteMarkController</servlet-name>
        <servlet-class>vuph.ironman.controllers.DeleteMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanUpdateMissionController</servlet-name>
        <servlet-class>vuph.ironman.controllers.UpdateMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanUpdateMarkController</servlet-name>
        <servlet-class>vuph.ironman.controllers.UpdateMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanViewAccountController</servlet-name>
        <servlet-class>vuph.ironman.controllers.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>vuph.ironman.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanUpdateAccountController</servlet-name>
        <servlet-class>vuph.ironman.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanViewMissionWeaponController</servlet-name>
        <servlet-class>vuph.ironman.controllers.ViewMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanAddMissionWeaponController</servlet-name>
        <servlet-class>vuph.ironman.controllers.AddMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanDeleteMissionWeaponController</servlet-name>
        <servlet-class>vuph.ironman.controllers.DeleteMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.AddWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddMissionController</servlet-name>
        <servlet-class>vuph.user.controllers.AddMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddMissionWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.AddMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.DeleteWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteMissionController</servlet-name>
        <servlet-class>vuph.user.controllers.DeleteMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteMissionWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.DeleteMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.UpdateWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateAccountController</servlet-name>
        <servlet-class>vuph.user.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateMissionController</servlet-name>
        <servlet-class>vuph.user.controllers.UpdateMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewAccountController</servlet-name>
        <servlet-class>vuph.user.controllers.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.ViewWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewMissionController</servlet-name>
        <servlet-class>vuph.user.controllers.ViewMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewMissionWeaponController</servlet-name>
        <servlet-class>vuph.user.controllers.ViewMissionWeaponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMainController</servlet-name>
        <servlet-class>vuph.admin.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronmanMainController</servlet-name>
        <servlet-class>vuph.ironman.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMainController</servlet-name>
        <servlet-class>vuph.user.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAccountController</servlet-name>
        <servlet-class>vuph.controllers.LogoutAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/admin/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/admin/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMissionController</servlet-name>
        <url-pattern>/admin/ViewMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionController</servlet-name>
        <url-pattern>/admin/UpdateMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMissionController</servlet-name>
        <url-pattern>/admin/DeleteMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionController</servlet-name>
        <url-pattern>/admin/AddMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMissionDetailController</servlet-name>
        <url-pattern>/admin/ViewMissionDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionDetailController</servlet-name>
        <url-pattern>/admin/UpdateMissionDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMissionDetailController</servlet-name>
        <url-pattern>/admin/DeleteMissionDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionDetailController</servlet-name>
        <url-pattern>/admin/AddMissionDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMissionWeaponController</servlet-name>
        <url-pattern>/admin/ViewMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionWeaponController</servlet-name>
        <url-pattern>/admin/UpdateMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMissionWeaponController</servlet-name>
        <url-pattern>/admin/DeleteMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionWeaponController</servlet-name>
        <url-pattern>/admin/AddMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAvengerController</servlet-name>
        <url-pattern>/admin/ViewAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvengerController</servlet-name>
        <url-pattern>/admin/UpdateAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAvengerController</servlet-name>
        <url-pattern>/admin/DeleteAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAvengerController</servlet-name>
        <url-pattern>/admin/AddAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWeaponController</servlet-name>
        <url-pattern>/admin/AddWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMarkController</servlet-name>
        <url-pattern>/admin/AddMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWeaponController</servlet-name>
        <url-pattern>/admin/UpdateWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkController</servlet-name>
        <url-pattern>/admin/UpdateMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWeaponController</servlet-name>
        <url-pattern>/admin/DeleteWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMarkController</servlet-name>
        <url-pattern>/admin/DeleteMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWeaponController</servlet-name>
        <url-pattern>/admin/ViewWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarkController</servlet-name>
        <url-pattern>/admin/ViewMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanViewMissionController</servlet-name>
        <url-pattern>/ironman/ViewMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanViewMarkController</servlet-name>
        <url-pattern>/ironman/ViewMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanAddMarkController</servlet-name>
        <url-pattern>/ironman/AddMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanAddMissionController</servlet-name>
        <url-pattern>/ironman/AddMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanDeleteMissionController</servlet-name>
        <url-pattern>/ironman/DeleteMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanDeleteMarkController</servlet-name>
        <url-pattern>/ironman/DeleteMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanUpdateMissionController</servlet-name>
        <url-pattern>/ironman/UpdateMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanUpdateMarkController</servlet-name>
        <url-pattern>/ironman/UpdateMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanViewAccountController</servlet-name>
        <url-pattern>/ironman/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanUpdateAccountController</servlet-name>
        <url-pattern>/ironman/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanViewMissionWeaponController</servlet-name>
        <url-pattern>/ironman/ViewMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanAddMissionWeaponController</servlet-name>
        <url-pattern>/ironman/AddMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanDeleteMissionWeaponController</servlet-name>
        <url-pattern>/ironman/DeleteMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddWeaponController</servlet-name>
        <url-pattern>/user/AddWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddMissionController</servlet-name>
        <url-pattern>/user/AddMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddMissionWeaponController</servlet-name>
        <url-pattern>/user/AddMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteWeaponController</servlet-name>
        <url-pattern>/user/DeleteWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteMissionController</servlet-name>
        <url-pattern>/user/DeleteMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteMissionWeaponController</servlet-name>
        <url-pattern>/user/DeleteMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateWeaponController</servlet-name>
        <url-pattern>/user/UpdateWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateAccountController</servlet-name>
        <url-pattern>/user/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateMissionController</servlet-name>
        <url-pattern>/user/UpdateMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewAccountController</servlet-name>
        <url-pattern>/user/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewWeaponController</servlet-name>
        <url-pattern>/user/ViewWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewMissionController</servlet-name>
        <url-pattern>/user/ViewMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewMissionWeaponController</servlet-name>
        <url-pattern>/user/ViewMissionWeaponController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMainController</servlet-name>
        <url-pattern>/admin/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronmanMainController</servlet-name>
        <url-pattern>/ironman/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMainController</servlet-name>
        <url-pattern>/user/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAccountController</servlet-name>
        <url-pattern>/LogoutAccountController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
